<div class="row">
  <div class="col-12" style="padding-top: 2%;">
      <table class="table font12">
          <thead>
              <tr class="heading text-left">
                <th>Sl No.</th>
                <th>H.S Code</th>
                <th>Name & Description</th>
                <th>Unit</th>
                <th class="text-center">Wastages</th>
                <th class="text-center">Extras</th>
                <th>Remarks</th>
              </tr>
          </thead>
          <tbody>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td class="borderLine">
                  
                  <tr>
                    <td class="widthSize">Description</td>
                    <td class="widthSize">With Wastage Amount</td>
                    <td class="widthSize">Price</td>
                    <td class="widthSize">Wastage Amount</td>
                    <td class="widthSize">Percentage</td>
                  </tr>
              </td>
              <td class="borderLine">                
                <tr>
                  <td class="widthSize">Name</td>
                  <td class="widthSize">Price</td>
                </tr>              
              </td>
              <td>
               
              </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
          </tbody>
      </table>
  </div>
</div>