<div class="row">
  <div class="col-6 title gray"><b>Manage Purchase Order</b></div>
  <div class="col-6">
    <div class="buttonbox pointer" (click)="navigateToAddOrder()">
        Add Order
    </div>
  </div>
</div>
<br>
<div class="row">
    <div class="col-md-12" style="padding-left: 50px;">
        <div class="empsection">
            <div class="row" style="padding-top: 16px;">
                <div class="col-md-6 mt-2">
                    <label class ="heading">Vendor :</label>&nbsp;&nbsp;
                    <select class="inputBox" name="vendorId"  [(ngModel)]="model.vendorId">
                        <option value="">Choose..</option>
                        <option value="{{row.vendorId}}" *ngFor="let row of listVendordata">{{row.vendorName}}</option>
                    </select>
                </div>
                <div class="col-md-6 mt-2">
                  <label class ="heading">Order No :</label>&nbsp;&nbsp;
                  <input type="email"  class="inputBox" name="email" [(ngModel)]="model.email" style="width: 459px;" >
              </div>    
             </div>
             <div class="row" style="padding-top: 16px;">
                <div class="col-md-6 mt-2">
                    <label class ="heading">Status :</label>&nbsp;&nbsp;
                    <select>
                      <option>Active</option>
                      <option>Inactive</option>
                    </select>
                   
                </div>
                <div class="col-md-6 mt-2">
                  <label class ="heading">Date Range :</label>&nbsp;&nbsp;
                  <my-date-range-picker name="mydaterange" [options]="myDateRangePickerOptions" [(ngModel)]="modeldate"
              required name="mydaterange" (dateRangeChanged)="onDateRangeChanged($event);" ></my-date-range-picker>
              </div>     
             </div>
             <div class="row" >
								<button  (click)="submit();" style="margin-top: 22px; margin-left: 550px;" class="btnbg">Submit</button>
								<br>
						</div>
          </div>
    </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
      <table class="table table-hover border-0 font12">
          <thead>
            <tr class="heading text-left">
              <th class="pointer" (click)="setOrder('empID','string',reverse['empID'])" style="width:12%">
                Order Id
                <span>
                    <img src="../assets/img/sort_black_up.png" *ngIf="reverse['empID']==undefined || order != 'empID'|| reverse['empID']" 
                    [ngClass]="{'botharrowup':(reverse['empID']==undefined|| order != 'empID'),
                            'singlearrowup':(reverse['empID'])}"
                    >
                </span>
                <span>
                    <img src="../assets/img/sort_black_down.png"  *ngIf="reverse['empID']==undefined || order != 'empID'|| !reverse['empID']"
                    [ngClass]="{'botharrowdwn':(reverse['empID']==undefined|| order != 'empID'),
                          'singlearrowdwn':(reverse['empID']!=undefined && !reverse['empID']&& order == 'empID')}"
                    >
                </span>
              </th>
              <th class="pointer" (click)="setOrder('empName','string',reverse['empName'])" style="width:12%">Vendor
                  <span>
                      <img src="../assets/img/sort_black_up.png" *ngIf="reverse['empName']==undefined || order != 'empName'|| reverse['empName']" 
                      [ngClass]="{'botharrowup':(reverse['empName']==undefined|| order != 'empName'),
                              'singlearrowup':(reverse['empName'])}"
                      >
                  </span>
                  <span>
                      <img src="../assets/img/sort_black_down.png"  *ngIf="reverse['empName']==undefined || order != 'empName'|| !reverse['empName']"
                      [ngClass]="{'botharrowdwn':(reverse['empName']==undefined|| order != 'empName'),
                            'singlearrowdwn':(reverse['empName']!=undefined && !reverse['empName']&& order == 'empName')}"
                      >
                  </span>
              </th>
              <th class="pointer" (click)="setOrder('designation','string',reverse['designation'])" style="width:12%">Order Date
                  <span>
                      <img src="../assets/img/sort_black_up.png" *ngIf="reverse['designation']==undefined || order != 'designation'|| reverse['designation']" 
                      [ngClass]="{'botharrowup':(reverse['designation']==undefined|| order != 'designation'),
                              'singlearrowup':(reverse['designation'])}"
                      >
                  </span>
                  <span>
                      <img src="../assets/img/sort_black_down.png"  *ngIf="reverse['designation']==undefined || order != 'designation'|| !reverse['designation']"
                      [ngClass]="{'botharrowdwn':(reverse['designation']==undefined|| order != 'designation'),
                            'singlearrowdwn':(reverse['designation']!=undefined && !reverse['designation']&& order == 'designation')}"
                      >
                  </span>
              </th> 
              <th class="pointer" (click)="setOrder('designation','string',reverse['designation'])" style="width:12%">Amount
                <span>
                    <img src="../assets/img/sort_black_up.png" *ngIf="reverse['designation']==undefined || order != 'designation'|| reverse['designation']" 
                    [ngClass]="{'botharrowup':(reverse['designation']==undefined|| order != 'designation'),
                            'singlearrowup':(reverse['designation'])}"
                    >
                </span>
                <span>
                    <img src="../assets/img/sort_black_down.png"  *ngIf="reverse['designation']==undefined || order != 'designation'|| !reverse['designation']"
                    [ngClass]="{'botharrowdwn':(reverse['designation']==undefined|| order != 'designation'),
                          'singlearrowdwn':(reverse['designation']!=undefined && !reverse['designation']&& order == 'designation')}"
                    >
                </span>
            </th>
            <th class="pointer" (click)="setOrder('designation','string',reverse['designation'])" style="width:12%">Status
              <span>
                  <img src="../assets/img/sort_black_up.png" *ngIf="reverse['designation']==undefined || order != 'designation'|| reverse['designation']" 
                  [ngClass]="{'botharrowup':(reverse['designation']==undefined|| order != 'designation'),
                          'singlearrowup':(reverse['designation'])}"
                  >
              </span>
              <span>
                  <img src="../assets/img/sort_black_down.png"  *ngIf="reverse['designation']==undefined || order != 'designation'|| !reverse['designation']"
                  [ngClass]="{'botharrowdwn':(reverse['designation']==undefined|| order != 'designation'),
                        'singlearrowdwn':(reverse['designation']!=undefined && !reverse['designation']&& order == 'designation')}"
                  >
              </span>
          </th> 
              <th  style="width:12%">Mushak 4.3</th>     
              <th  style="width:12%">Action</th>
            </tr>
          </thead>
          <tbody *ngIf="!listdata || listdata.length ==0 ">
            <tr style="text-align:center">
              <td colspan=9> No Record found</td>
            </tr>
          </tbody>
          <tbody *ngIf="listdata || listdata.length > 0 ">
            <tr *ngFor="let row of listdata| sort: order:orderType:reverseOrder | paginate: pagination;let i = index">
              <td (click)="openDetails(row)" style="width:12%">{{row.poNumber}}</td>
              <td style="width:14%">{{row.vendorName}}</td>
              <td (click)="openDetails(row)" style="width:12%">{{row.poDate}}</td>
              <td (click)="openDetails(row)" style="width:12%">{{row.grandTotal}}</td>
              <td (click)="openDetails(row)" style="width:12%">{{row.status}}</td>
              <td (click)="openDetails(row)" style="width:12%"><img src="../assets/img/edit.png"  (click)="Mushak(row.poNumber)" class="pointer" style="width:14px;"></td>
              <td (click)="openDetails(row)" style="width:12%"> 
                <img src="../assets/img/edit.png" style="width:14px;">
                &nbsp;
                <img src="../assets/img/delete.png" style="width:20px;"></td>
           </tr>
          </tbody>
        </table> 
        <hr/>
    <div class="paginationsection row pt-2 pb-2 font12" *ngIf="listdata.length !=0">
        <div class="col-6 pagesizeselection text-left">
          <span >Items per page:</span>
          &nbsp;
          <select [(ngModel)]="pagination.itemsPerPage" (ngModelChange)="pagination.currentPage = 1" class="pagesizeselectiondrpdwn">
            <option>15</option>
            <option>30</option>
            <option>50</option>
            <option>100</option>
            <option value="{{listdata.length}}">All</option>
          </select>
          &nbsp;&nbsp;
          <span >
            |&nbsp;&nbsp;{{(pagination.currentPage*pagination.itemsPerPage) - pagination.itemsPerPage + 1}}
            -
            {{(pagination.currentPage*pagination.itemsPerPage > listdata.length)?listdata.length:(pagination.currentPage*pagination.itemsPerPage)}}
            of {{listdata.length}} items
          </span>
        </div>
        <div class="col-6 text-right">
        <pagination-template #p="paginationApi" (pageChange)="pagination.currentPage = $event" [maxSize]="(listdata.length/pagination.itemsPerPage)|ceil">
           <span class="lightgray pr-4" style="border-right:1px solid #dfe3e6;font-size:12px;">{{p.getCurrent()}} of {{p.getLastPage()}} pages</span>
             <span class="pagination-previous pointer pr-4 pl-4 lightgray" [class.disabled]="p.isFirstPage()"  
                 style="border-right:1px solid #dfe3e6;">
                <img (click)="p.previous()" src="../assets/img/pagination_left-chevron.png">
             </span>
            <span  style="border-bottom:1px dashed;font-size:14px;" class="pr-2 pl-2 ml-2 mr-2">{{p.getCurrent()}}</span>
            <span class="pagination-next pointer pl-4 lightgray" [class.disabled]="p.isLastPage()" 
                style="border-left:1px solid #dfe3e6;font-size:14px;">
                <img (click)="p.next()" src="../assets/img/pagination_right-chevron.png">
            </span>
        </pagination-template>
        </div>
      </div>  
  </div>
</div>