<div class="settingcontainer mx-auto">
    <div class="row iconbox">
        <div class="col-md-6"><span class="pointer" (click)="navigate('companyProfile')"><img src="../assets/img/organization.png"> Company Profile</span></div>
        <div class="col-md-6"><span class="pointer"  (click)="navigate('customer')"><img src="../assets/img/customer.png"> Buyer profile</span></div>
    </div>
    <div class="row iconbox">
        <div class="col-md-6"><span class="pointer" (click)="navigate('vendor')"><img src="../assets/img/vendorL.png"> Vendor Profile</span></div>
        <div class="col-md-6"><span class="pointer"><img src="../assets/img/category.png"> Item Category</span></div>
    </div>
    <div class="row iconbox">
        <div class="col-md-6"><span class="pointer"  (click)="navigate('raw')"><img src="../assets/img/product-32.png"> Raw Material Setup</span></div>
        <div class="col-md-6"><span class="pointer"  (click)="navigate('finishedGoods')"><img src="../assets/img/product-32.png"> Finished Goods Setup</span></div>
    </div>
    <div class="row iconbox">
        <div class="col-md-6"><span class="pointer"><img src="../assets/img/settings-32.png"> Service Setup</span></div>
        <div class="col-md-6"><span class="pointer"><img src="../assets/img/scale-32.png"> Unit</span></div>
    </div>
    <div class="row iconbox">
        <div class="col-md-6"><span class="pointer"><img src="../assets/img/money-bag-32.png"> Overhead Cost</span></div>
        <div class="col-md-6"><span class="pointer"><img src="../assets/img/outsourcing.png"> Contractual Company</span></div>
    </div>
    <div class="row iconbox">
        <div class="col-md-6"><span class="pointer"><img src="../assets/img/factory-stock-house.png"> Warehouse</span></div>
        <div class="col-md-6"><span class="pointer"><img src="../assets/img/chest.png"> Treasury Item</span></div>
    </div>    
</div>

